<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timetomath2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SiResult"></activity>
        <activity android:name=".CommonFractionsResult" />
        <activity android:name=".DecimalFractionsResult" />
        <activity android:name=".IntegerResult" />
        <activity android:name=".Integer" />
        <activity android:name=".Si" />
        <activity android:name=".SiInfo" />
        <activity android:name=".DecomalFractionsInfo" />
        <activity android:name=".CommonFractionsInfo" />
        <activity android:name=".CommonFractions" />
        <activity android:name=".DecimalFractions" />
        <activity android:name=".IntegerInfo" />
        <activity android:name=".MainTheoryTheory" />
        <activity android:name=".ChangeStyle" />
        <activity android:name=".ChangeLanguage" />
        <activity android:name=".Settings" />
        <activity android:name=".mainTheory" />
        <activity android:name=".startGame" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>